body{
	margin:0 auto; 
	background-color: #f8f8f8;
}
.public-header{
	width: 1610px;
	margin:0 auto;
	height: 89px; 
	line-height: 89px;
	background-color: #fff;
}
.public-footer{ 
	width: 1610px;
	height:263px;
	margin:0 auto;
	color:#fff; 
	background-color: #2c3339;  
 }
.public-container{
	position: relative; 
	margin:0 auto; 
	width: 1210px;

}