/* login */
.login_bg{
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: #323232; 
	opacity: 0.5;  
} 
.login_content{
	position:absolute;
	z-index: 999;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	width: 388px;
	height: 288px; 
	border-radius: 2px;
	background-color: #fff; 
}
.login_content .login_close{
	margin:5px 5px 0;
	display: block;
	float: right;
	width: 23px;
	height: 22px;
	background:url("../images/login_close.png");
}
.login_content .login{
 	 padding:30px 52px 40px 40px;

}
.login_content .login .login_title{
	margin-bottom: 20px;
	font-size: 18px;
	color: #444444;
	font-weight:bold;
}
.login_content .login input{
	width: 292px;
	height: 42px;
	margin-bottom: 15px;
	border:1px solid #dfdfdf;
}
.login_content .login .login_btn{ 
	cursor: pointer;
	margin-top: 15px;
	width: 293px;
	height: 46px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: url("../images/login_btn.png") no-repeat;
}
/* header */
.index-notice{
	width: 1610px;
	height: 36px;
	margin:0 auto;
	background-color: #f3f3f3;
	line-height: 36px;
	font-size:12px;
	color: #333333; 
} 
.index-notice p{ 
	position: absolute;
	left: 0;
	margin-right: 10px;
} 
.index-notice .checkNow{
	position: absolute;
	left: 415;
	color: #71bc8b;
}

.index-notice .close{
	position: absolute;
	right: 0;
	color: #333333;
}
.header-logo{
	position: absolute;
	left: 0;
	margin-top:5px;
	margin-right: 30px;
}
.header-follow{
	position: absolute;
	left:268px; 
}
.header-follow .follow-btn{ 
	display: inline-block; 
	margin-right: 15px;
	width: 54px;
	height: 21px; 
	background: url("../images/follow-btn.png") no-repeat; 
}
.header-nav{
	float: right; 
}
.header-nav .item {
	float: left;
	margin-left:56px;  
}
.header-nav .item a{
	font-size: 16px;
	color:#666666;
}
 .header-nav .item:last-child{
 	margin-left: 30px;
 	margin-top: 6px;
 	margin-right: 15px;
 }
/* Banner */

.index-banner  {
	position: relative; 
	width:1610px;
	height: 461px;
	margin:0 auto; 
	overflow: hidden; 
}
.index-banner .banner-list{
	position: absolute;
	width:8050px; 
	height: 461px;
	z-index: 1;  
}
.index-banner .banner-list a{ 
	display: block; 
	float: left;
	width:1610px;
	height:461px; 
}
.banner1{  
	background: url("../images/banner1.jpg") no-repeat; 
} 
.banner2{  
	background: url("../images/banner2.jpg") no-repeat; 
} 
.banner3{  
	background: url("../images/banner3.jpg") no-repeat; 
}
.index-banner .slide{
	position: absolute;
	z-index: 2; 
	left:50%;
	margin-left:-5px;
	bottom: 20px;
}
.index-banner .slide span{
	display: inline-block;
	cursor: pointer;
	margin-right: 10px; 
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
}
.index-banner .slide .active{
	background-color: #000;
}
.arrow { 
	cursor: pointer; 
	position: absolute;
	z-index: 2; 
	top: 180px; 
	display: none; 
	line-height: 70px; 
	text-align: center; 
	vertical-align: middle;
	font-size: 35px; 
	font-weight: bold; 
	width: 50px; 
	height: 70px;  
	background-color: RGBA(0,0,0,.3); 
	color: #fff;
}
.arrow:hover { background-color: RGBA(0,0,0,.7);}
.index-banner:hover .arrow { display: block;}
 #prev { left: 20px;}
 #next { right: 20px;}

/* index-intro */
.index-intro{
	height:298px;
	width: 1610px;
	margin:0 auto;
	background-color: #fff;
}
.index-intro .intro_col{
	float:left; 
	margin-top: 60px;
	margin-right: 74px;
	width: 350px;
}
.index-intro .intro_col:first-child{
	margin-left: 5px;
}
.index-intro .intro_col:last-child{ 
	margin-right: 0px;
	 
}
.index-intro .intro_col .intro_pic{
	float: left;
	margin-right: 20px;
	width: 82px;
	height: 298px;
}
.pic1{
	
	background: url("../images/intro1.png") no-repeat;
}
.pic2{
	 
	background: url("../images/intro2.png") no-repeat;
}
.pic3{ 
	background: url("../images/intro3.png") no-repeat;
}
.index-intro .intro_col .intro_content{
	
}
.index-intro .intro_col .intro_content h4{
	margin-bottom: 15px;
	font-size: 22px;
	color:#333333;
	font-weight: Regular;
}
.index-intro .intro_col .intro_content p{
	font-size: 14px;
	color:#666666;
	font-weight: Regular;
	line-height: 24px;
}
.index-intro .intro_col .intro_content .more{
	margin-top: 34px; 
}
.index-intro .intro_col .intro_content .more a{
	font-size: 14px;
	color:#39a030; 
}
.index-intro .intro_col .intro_content .more a:hover{
	text-decoration: underline;
}
/* index-workPic */
.index-workPic{
	position: relative;
	width:1610px;
	margin:0 auto;  
	height: 222px; 
}
.index-workPic .workpic{ 
	position: absolute; 
	width: 320px;
	height: 222px; 
	background-color: #2c3339; 
}
.work1{
	left: 0;
	background: url();
}
.work2{
	left: 322px;
	background: url();
}
.work3{
	left: 644px;
	background: url();
}
.work4{
	right: 322px;
	background: url();
}
.work5{
	right: 0;
	background: url();
}
.index-workPic .workpic:last-child{
	margin-right: 0; 
}

/* courseInfo */
.courseInfo{
	width: 1610px;
	height: 1470px;
	margin:0 auto;
	margin-top: 82px;
	
}
.courseInfo .left-panel{
	position: absolute;
	left: 0;
	width: 982px; 
	 
}
.courseInfo .left-panel .tabs{
	height: 50px;
	margin-bottom: 30px;
}
.courseInfo .left-panel .tabs a{
	display: inline-block; 
	height: 50px;
	width: 200px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #666666;
	background-color:#fff;
}
.courseInfo .left-panel .tabs .current{
	color: #fff;
	background-color: #39a030;
}
.courseInfo .left-panel .tab-panel{
	height: 1250px;
}
.courseInfo .left-panel .tab-panel .course_col{
	float: left; 
}
.courseInfo .left-panel .tab-panel .course_col .course{
	display: block; 
	margin-bottom: 20px;
	margin-right: 20px;
	width: 223px;
	height: 230px;
	background-color: #2c3339; 
}
.courseInfo .left-panel .pagination{
	position: absolute;
	right: -19px;
	margin-top: 10px; 
	width: 300px;
	height: 20px;
	 
}
.courseInfo .left-panel .pagination a{
	display: inline-block; 
	width: 20px;
	height: 20px;
	font-size: 14px;
	color: #666666;
	text-align: center;
	vertical-align: middle;	
}
.courseInfo .left-panel .pagination a:hover{
	color: #fff;
	background-color: #9dd8b1;
	
}
.courseInfo .left-panel .pagination a:active{
	color: #39a030;

}
.courseInfo .left-panel .pagination .previous{
	width: 30px; 
	height: 21px;
	color: #fff;
	background-color: #9dd8b1;
}
.courseInfo .left-panel .pagination .next{
	width: 30px; 
	color: #fff;
	height: 21px;
	background-color: #9dd8b1;
}
.courseInfo .right-panel{
	position: absolute; 
	right: 0;
	width: 223px; 

}
.courseInfo .right-panel .agency-intro{ 
	height: 232px;
	background-color: #fff;
	border:1px solid #ecebeb;
	border-top:none;

}
.courseInfo .right-panel .top-ranking{ 
	margin-top: 20px;
	height: 779px;
	background-color: #fff;
	border:1px solid #ecebeb;
	border-top:none;
}
.courseInfo .right-panel .title{
	height: 56px;
	padding:0 20px;
	border-bottom: 1px solid #dddddd;
	line-height: 56px;
	font-size: 16px;
	color: #333333;
}
.courseInfo .right-panel .intro-body{
	padding:20px;
	font-size: 14px;
	color: #666666;
}
.courseInfo .right-panel .intro-body .intro-view{
	margin-top: 10px;
	width: 180px;
	height: 110px; 
	background-color: #2c3339; 
}
.courseInfo .right-panel .intro-body .rank-view{
	margin-bottom: 20px; 
	width: 183px;
	height: 50px;
}
.courseInfo .right-panel .intro-body .rank-view .view-pic{
	float: left;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-color: #2c3339;
}
.courseInfo .right-panel .intro-body .rank-view .view-detail{
	float: right;
}
.courseInfo .right-panel .intro-body .rank-view .view-detail p{
	margin-bottom: 12px;
	font-size: 14px;
	overflow: hidden;
}
.courseInfo .right-panel .intro-body .rank-view .view-detail .count{
	width: 53px;
	height: 17px;
	background: url("../images/count.png")
}
/* footer */
.public-footer .foot_column{
	 position: absolute;
	 margin-top: 82px; 
}
.public-footer .foot_logo{
	width: 253px;
	height: 22px;
	background: url("../images/footer-logo.png") no-repeat;
}
.column1{
	left:50px;

}
.column1 .foot_logo,.column1 p{
	margin-bottom: 24px;
}
.column2{
	left:595px;
}
.foot_column .item {
	margin-top: 15px; 

}
.foot_column .item a{
	font-size: 14px;
	color: #fff; 
}
.foot_column .item a:hover{
	 text-decoration: underline; 
}
.column3{
	left:805px;
}
.column4{
	left:935px;
}